<%- include('./base/header.ejs') %>

<%- include('./base/nav.ejs') %>


<%- include('./base/studentTable.ejs') %>
<!-- <a href="/" style=" text-decoration: underline;" class="btn btn-danger text-center">Log Out</a> -->
<%- include('./base/footer.ejs')%>